body {
    background-color: #36454F;
}

h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    color: white;
}

.game {
    width: 1000px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cards {
    width: calc(16.667% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    background-color: darkslategrey;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
}

.cards:active {
    transform: scale(0.97);
    transition: 0.15s;
}

.front {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px;
}





